.env
.env.local
.env.*.local
*.log
Dockerfile
.dockerignore
node_modules
npm-debug.log*
*.md
.next
.git
*.gitignore
coverage
.idea
.vscode
build
out
*.tsbuildinfo
*.pnp.js
.pnp/
.pnpm-debug.log*
.DS_Store
*.pem
.env*.local
.prisma/db.sqlite
.prisma/db.sqlite-journal
.vercel/
