# Ignore files that don't need to be in the build context for DevContainer
node_modules
.next
.git
.env
.env.local
.env.*.local
*.log
build
out
coverage
.vscode
.idea
.DS_Store
*.pem
.vercel
.prisma/db.sqlite
.prisma/db.sqlite-journal
