@font-face {
  font-family: 'proxima-nova-r';
  src: url('https://ucdcdn.azureedge.net/public/media/fonts/proximanova-regular-webfont.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'proxima-nova-i';
  src: url('https://ucdcdn.azureedge.net/public/media/fonts/proximanova-regularit-webfont.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'proxima-nova-b';
  src: url('https://ucdcdn.azureedge.net/public/media/fonts/proximanova-bold-webfont.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'ryman';
  src: url('https://ucdcdn.azureedge.net/public/media/fonts/ryman-eco-webfont.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

body {
  font-family: 'proxima-nova-r', sans-serif;
}
