@font-face {
  font-family: 'proxima-nova-r';
  src: url('https://ucdcdn.azureedge.net/public/media/fonts/proximanova-regular-webfont.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'proxima-nova-i';
  src: url('https://ucdcdn.azureedge.net/public/media/fonts/proximanova-regularit-webfont.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'proxima-nova-b';
  src: url('https://ucdcdn.azureedge.net/public/media/fonts/proximanova-bold-webfont.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: 'ryman';
  src: url('https://ucdcdn.azureedge.net/public/media/fonts/ryman-eco-webfont.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

body {
  font-family: 'proxima-nova-r', sans-serif;
}
h1 {
  font-size: 2.25rem; /* 36px */
  font-weight: 700; /* bold */
  line-height: 2.5rem; /* 40px */
  letter-spacing: -0.01562em;
}

h2 {
  font-size: 1.5rem; /* 24px */
  font-weight: 700; /* bold */
  line-height: 2rem; /* 32px */
  letter-spacing: -0.01562em;
}

h3 {
  font-size: 1.25rem; /* 20px */
  font-weight: 600; /* semi-bold */
  line-height: 1.75rem; /* 28px */
  letter-spacing: 0em;
}

h4 {
  font-size: 0.875rem; /* 14px */
  text-transform: uppercase;
  line-height: 1.5rem; /* 24px */
}

h5 {
  font-size: 1.25rem; /* 20px */
  font-weight: 500; /* medium */
}

h6 {
  font-size: 1.125rem; /* 18px */
  font-weight: 500; /* medium */
}

p {
  font-size: 1rem; /* 16px */
}

.lede {
  font-size: 1.125rem; /* 18px */
  font-weight: 600; /* semi-bold */
  line-height: 1.75rem; /* 28px */
}

@theme {
  /* standard colors */
  --color-primary-font: oklch(16.1% 0.0035 28.3); /* dark gray */
  --color-darkmode-primary-font: oklch(99.9% 0.0045 106.7); /* near-white */

  /* backgrounds */
  --color-light-bg-100: oklch(100% 0 0); /* white */
  --color-light-bg-200: oklch(98% 0 0); /* off-white */
  --color-light-bg-300: oklch(95% 0 0); /* light gray */
  --color-dark-bg-100: oklch(10% 0.003 285.823); /* darkest gray */
  --color-dark-bg-200: oklch(12% 0.004 285.823); /* darker gray */
  --color-dark-bg-300: oklch(14% 0.005 285.823); /* dark gray */

  /* UC Davis colors */
  --color-ucd-recpool: oklch(0.8061 0.0988 219.14);
  --color-ucd-tahoe: oklch(0.7116 0.1366 226.42);
  --color-ucd-gunrock: oklch(0.4421 0.1915 261.04);
  --color-ucd-bodega: oklch(0.3351 0.081553 243.3375);
  --color-ucd-rain: oklch(0.8832 0.1554 185.06);
  --color-ucd-arboretum: oklch(0.737 0.130582 183.9488);
  --color-ucd-putahcreek: oklch(0.5971 0.107478 218.2718);
  --color-ucd-delta: oklch(0.3947 0.0691 186.34);
  --color-ucd-farmersmarket: oklch(0.8367 0.1101 135.3);
  --color-ucd-sage: oklch(0.7674 0.1162 158.75);
  --color-ucd-quad: oklch(0.6617 0.1948 141.18);
  --color-ucd-redwood: oklch(0.4413 0.0799 157.29);
  --color-ucd-goldenstate: oklch(0.9694 0.1972 109.58);
  --color-ucd-sunflower: oklch(0.8967 0.185062 97.445);
  --color-ucd-poppy: oklch(0.729 0.168874 61.2836);
  --color-ucd-california: oklch(0.4976 0.0891 52.49);
  --color-ucd-rose: oklch(0.7479 0.153251 17.5392);
  --color-ucd-strawberry: oklch(0.6424 0.2284 21.81);
  --color-ucd-doubledecker: oklch(0.5134 0.2055 20.35);
  --color-ucd-merlot: oklch(0.3891 0.1155 16);
  --color-ucd-thiebauldicing: oklch(0.7796 0.1288 342.92);
  --color-ucd-redbud: oklch(0.5432 0.2254 351.56);
  --color-ucd-pinot: oklch(0.4134 0.1448 333.08);
  --color-ucd-cabernet: oklch(0.3221 0.1406 308.84);
}
.btn {
  border-radius: 4px;
}
@plugin "daisyui/theme" {
  name: 'gunrock';
  --color-base-100: var(--color-light-bg-100);
  --color-base-200: var(--color-light-bg-200);
  --color-base-300: var(--color-light-bg-300);
  --color-base-content: var(--color-primary-font);
  --color-primary: var(--color-ucd-gunrock);
  --color-primary-content: var(--color-darkmode-primary-font);
  --color-secondary: var(--color-ucd-sunflower);
  --color-secondary-content: var(--color-primary-font);
  --color-accent: var(--color-ucd-recpool);
  --color-accent-content: var(--color-primary-font);
  --color-success: var(--color-ucd-quad);
  --color-success-content: var(--color-darkmode-primary-font);
  --color-warning: var(--color-ucd-poppy);
  --color-warning-content: var(--color-primary-font);
  --color-error: var(--color-ucd-doubledecker);
  --color-error-content: var(--color-darkmode-primary-font);
  --color-neutral: var(--color-dark-bg-100);
  --color-neutral-content: var(--color-darkmode-primary-font);
  --color-info: var(--color-ucd-tahoe);
  --color-info-content: var(--color-primary-font);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
